{% extends 'base.html' %}

{% block head %}
<h1>Template</h1>
{% endblock %}

{% block body %}

<div class = 'content'>
  <table>
    <tr>
      <th>Task</th>
      <th>Added</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        <a href="">Delete</a>
        <br>
        <a href="">Update</a>
      </td>
    </tr>
  </table>
  <form action="/" method="POST">
    <input type="text" name="content" id="'content">
    <input type="submit" value="Add Task">


</div>
<div class="container px-5">
  <div class="row gx-20">
    <div class="col">
     <div class="p-3 border bg-light">Hello World</div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">You got it!</div>
    </div>
  </div>
</div>
{% endblock %}